<div class="d-flex vh-100">
  <div class="gradient bg-light col-2"></div>
  <div class="gradient col-4 bg-light text-white ps-5 d-flex flex-column justify-content-center">
    <h1 class="display-4 mb-5 pb-5">{{ 'LOGIN.WELCOME' | translate }}</h1>
    <p class="lead text-black fw-bold mt-5 pt-5">{{ 'LOGIN.HELP_TEXT' | translate }}</p>
    <p class="lead text-black mt-2">{{ 'LOGIN.HELP_TEXT_EXTENDED' | translate }}</p>
  </div>
  <div class="gradient col-6 bg-light p-5 d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg">
      <h2 class="card-title mb-4">{{ 'RESET_PASSWORD.TITLE' | translate }}</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="password" class="form-label">{{ 'RESET_PASSWORD.PASSWORD' | translate }}</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="{{'RESET_PASSWORD.PLACEHOLDER.PASSWORD' | translate}}"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">{{ 'RESET_PASSWORD.PASSWORD_REQUIRED' | translate }}</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="{{'RESET_PASSWORD.PLACEHOLDER.CONFIRM_PASSWORD' | translate}}"
            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
          />
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div
              *ngIf="f['confirmPassword'].errors['required']">{{ 'RESET_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary w-100">{{ 'RESET_PASSWORD.BUTTON' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
